version: '3'

services:
  postgres:
    image: postgres:latest
    volumes:
      - db:/var/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432

  houou:
    build: ./houou
    image: fidops/houou:dev
    volumes:
      - ./houou:/app
      - bundle_gems:/usr/local/bundle
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - 3000:3000
    stdin_open: true
    tty: true

  yakuman:
    build: ./yakuman
    image: fidops/yakuman:dev
    volumes:
      - ./yakuman:/app
    environment:
      API_URL: ${API_URL}
    ports:
      - 3001:3001

volumes:
  db:
  bundle_gems:
