name: Update subtree

on:
  push:
    branches: [main]

jobs:
  push:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        path:
          - houou
          - yakuman

    steps:
      - uses: actions/checkout@master
        with:
          token: ${{ secrets.BOT_PAT }}
          fetch-depth: 0

      - name: Add git remote HTTP
        run: |
          git remote add ${{ matrix.path }} https://github.com/fidops/${{ matrix.path }}.git

      - name: Push to subtree/main
        run: git subtree push --prefix=${{ matrix.path }} ${{ matrix.path }} main
