name: Update subtree

on:
  push:
    branches: [main]

jobs:
  push:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        path:
          - houou
          - yakuman

    steps:
      - uses: actions/checkout@master
        with:
          token: ${{ secrets.BOT_PAT }}

      - name: Install taskctl
        run: ./setup

      - name: Add git remote HTTP
        run: |
          git remote add houou https://github.com/fidops/houou.git
          git remote add yakuman https://github.com/fidops/yakuman.git

      - name: Push to houou
        run: bin/taskctl push-to-houou -- main

      - name: Push to yakuman
        run: bin/taskctl push-to-yakuman -- main
