name: Update subtree

on:
  push:
    branches: [main]

jobs:
  push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Install taskctl
        run: ./setup

      - name: Push to houou
        run: bin/taskctl push-to-houou -- main

      - name: Push to yakuman
        run: bin/taskctl push-to-yakuman -- main
