name: Update subtree

on:
  push:
    branches: [main]

jobs:
  push:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        path:
          - houou
          - yakuman

    steps:
      - uses: actions/checkout@master
      - uses: nxtlvlsoftware/git-subtree-action@1.1
        with:
          repo: 'fidops/${{ matrix.path }}'
          path: '${{ matrix.path }}'
          branch: main
